<!-- Misión -->
<div id="featured">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container">
    <header>
      <h2>Misión</h2>
    </header>
    <p>La Universidad Americana de Acapulco tiene como misión formar ciudadanos comprometidos con la sociedad mexicana. Su objeto es preparar a sus estudiantes para la vida profesional con responsabilidad social. Sus ejes son la enseñanza media superior, superior y de posgrado, la apreciación del conocimiento científico, la difusión de los valores culturales y humanísticos, el sentido de la solidaridad nacional, la conciencia de comunidad universitaria y la responsabilidad social.</p>
  </div>
</div>

<!-- Visión -->
<div id="tweet">
  <div class="container">
    <section>
      <header>

        <h2 style="color: white;" >Visión</h2>
      </header>
      <blockquote>Formar profesionales, maestros e investigadores comprometidos con el desarrollo económico, político, social y cultural de Guerrero, conscientes de su responsabilidad como mexicanos integrantes de una sociedad plural, democrática y abierta al pensamiento universal.</blockquote>  </section>
  </div>
</div>



