<div id="featured">

  <div id="main">
    <div id="content" class="container">
      <section>

        <p id="notice"><%= notice %></p>
        <h1>Surveys</h1>

        <%= link_to 'New Survey', new_survey_path %>

      </section>
    </div>
  </div>
</div>




